#root {
  margin: 0 auto;
  text-align: center;
  width: -webkit-fill-available;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.form-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  height: 60px;
  margin-bottom: 20px;
}

input,
button,
.link-button-wrapper {
  width: 100%;
  box-sizing: border-box;
}

input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

.link-button {
  background: none;
  color: #007bff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  text-align: center;
}

a{
  cursor: pointer;
}